/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.containerClass::-webkit-scrollbar{
    width: .2vw;
}

.containerClass::-webkit-scrollbar-thumb {
    background: black;
  }
.containerClass::-webkit-scrollbar-track{
   @apply bg-primaryColor-1
}


html::-webkit-scrollbar{
    width: 1vw;
    @apply bg-primaryColor-1.2
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(0, 147, 135,0.3);
    border-radius: 3vw;
    
}

html::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 147, 135,1);
}